<div class="login">
  <div class="login-screen">
    <div class="login-icon">
      <img src="/assets/login/icon.png" alt="Welcome to Mail App" />
      <h4>Welcome to <small>Mail App</small></h4>
    </div>
    <div class="login-form">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="control-group">
          <%= f.email_field :email, :autofocus => true, :class => "login-field"  %>
          <%= f.label :email, :class => "login-field-icon fui-user" %>
        </div>

        <div class="control-group">
          <%= f.password_field :password, :class => "login-field"  %>
          <%= f.label :password, :class => "login-field-icon fui-lock"  %>
        </div>

        <div class="control-group">
          <%= f.password_field :password_confirmation, :class => "login-field"  %>
          <%= f.label :password_confirmation, :class => "login-field-icon fui-lock"  %>
        </div>

        <div><%= f.submit "Cadastrar",:class => "btn btn-primary btn-large btn-block" %></div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
