<div id="search">
  <%= form_tag jobs_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => "span9" %>
      <%= submit_tag "Buscar", :name => nil, :class => "span3 btn btn-large btn-warning" %>
    </p>
  <% end %>
</div>
<div class="row">
  <div class="span12">
    <% @jobs.each do |job| %>
      <div class="row tile my_jobs">
        <header class="span8">
          <h3>
            <%= job.title %><small>(3 vagas)</small>
          </h3>
          <span><strong>Cargo: </strong><%= job.role %></span>
        </header>
        <aside class="right span3">
          <span><strong>Data:</strong> 03/07/2013</span>
          <span class="fui-location"><strong><%= job.location.upcase %></strong></span>
          <span><strong>Salário:</strong> A combinar</span>
          <div>
            <%= image_tag(job.company.picture_url, :width => 200) if job.company.picture.present? %>
          </div>
        </aside>
        <article class="span8">
          <span>
            <%= truncate job.description, length: 160 %>
            <%= link_to 'ver mais', job %> 
          </span>
        </article>
        <br>
        <footer class="span8">
          <small><strong>Aplicações:</strong><%= job.applies.size %></small>
        </footer>
      </div>
    <% end %>
  </div>
</div>