<div id="search">
  <%= form_tag jobs_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => "span9" %>
      <%= submit_tag "Buscar", :name => nil, :class => "span3 btn btn-large btn-warning" %>
    </p>
  <% end %>
</div>
<div class="row">
  <div class="span12">
    <% @jobs.each do |job| %>
      <div class="row tile my_jobs">
        <header class="span6">
          <h3>
            <%= job.title %><small>(3 vagas)</small>
          </h3>
        </header>
        <aside class="right span4">
          <span><strong>Data:</strong> 03/07/2013</span><br />
          <span><strong><%= job.location.upcase %></strong> </span><br />
          <span><strong>Salário:</strong> A combinar</span>
        </aside>
        <article class="span7">
          <span>
            <%= job.description %>
          </span>
        </article>
        <br>
        <footer class="span8">
          <small><strong>Aplicações:</strong><%= job.applies.size %></small>
        </footer>
      </div>
    <% end %>
  </div>
</div>