<div id="search">
  <%= form_tag jobs_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => "span9" %>
      <%= submit_tag "Buscar", :name => nil, :class => "span3 btn btn-large btn-warning" %>
    </p>
  <% end %>
</div>
<div class="row demo-tiles">
  <% @jobs.each do |job| %>
  <div class="span3">
    <div class="tile">
      <%= job.title %>
      <%= job.category %>
      <%= job.description %>
      <%= job.location %>
      <%= link_to 'Show', job %>
      <%= link_to 'Edit', edit_job_path(job) %>
      <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Aplicar',  "/jobs/#{job.id}/applies/new", :class => 'btn btn-block btn-success' %>
    </div>
  </div>
  <% end %>
</div>