<div id="search">
  <%= search_form_for @search do |f| %>
    <p>
      <%= f.text_field :title_cont, :class => "span9" %>
      <%= f.submit "Buscar", :class => "span3 btn btn-large btn-warning" %>
    </p>
  <% end %>
</div>
<div class="row">
  <!--<div class="aside">
    <% if user_signed_in? %>
      <div class="span3">
        <%= image_tag avatar_url(@user, 80) %>
        <%= @user.name %>
      </div>
    <% end %>
    <div class="span3">
      <%= search_form_for @search do |f| %>
        <h3>Filtro</h3>
        <div class="field">
          <%= f.label :title_cont, "Nome" %>
          <%= f.text_field :title_cont %>
        </div>
        <div class="actions">
          <%= f.submit "Buscar", :class => "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>-->
  <div class="span12">
    <%if @jobs.size > 0%>
      <% @jobs.each do |job| %>
        <div class="row tile my_jobs">
          <header class="span4">
            <h3>
              <%= job.title %><small>(<%= job.number_of_vacancies %> vagas)</small>
            </h3>
            <span style="display:inline;margin-right:8px"><strong>Cargo: </strong><%= job.role %></span>
            <span style="display:inline"><strong>Salário:</strong> A combinar</span>
          </header>
          <aside class="right span3">
            <span><strong>Data: </strong><%= job.created_at.to_s(:post) %></span>
            <span class="fui-location"><strong><%= job.location.upcase %></strong></span>
            <div>
              <%= image_tag(job.company.picture_url, :width => 200) if job.company.picture.present? %>
            </div>
          </aside>
          <article class="span4">
            <span>
              <p>
                <%= truncate job.description, length: 160 %>
              </p>
            </span>
          </article>
          <br>
          <br>
          <br>
          <footer class="span4">
            <div class="span1">
              <%= link_to 'Ver Mais', job, :class => "btn btn-block" %>
            </div>
            <div class="span1">
              <%= ejob_applied?(job.id) %>
            </div>
            <div class="span1">
              <%= link_to "Ver empresa", job.company, :class => "btn btn-block" %>
            </div>
          </footer>
        </div>
      <% end %>
    <% else %>
      <div class="row tile my_jobs">
        <h1>Nenhuma vaga encontrada :(</h1>
      </div>
    <% end %>
  </div>
</div>
