<div id="search">
  <%= form_tag jobs_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>
<div class="row demo-tiles">
  <% @jobs.each do |job| %>
  <div class="span3">
    <div class="tile">
      <%= job.title %>
      <%= job.category %>
      <%= job.description %>
      <%= job.location %>
      <%= link_to 'Show', job %>
      <%= link_to 'Edit', edit_job_path(job) %>
      <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
</div>