<div class="row">
  <div class="span12">
    <p id="notice" class="alert"><%= notice %></p>
    <div class="row tile my_jobs">
      <header class="span6">
        <h3>
          <%= @job.title %><small>(<%= @job.number_of_vacancies %> vagas)</small>
        </h3>
      </header>
      <article class="span8">
        <p>
          <b>Categoria:</b>
          <span class="right"><%= @job.category %></span>
        </p>

        <p>
          <b>Cargo:</b>
          <span class="right"><%= @job.role %></span>
        </p>

        <p>
          <b>Descrição:</b>
          <span><%= @job.description.html_safe %></span>
        </p>

        <p>
          <b>Salário:</b>
          <span class="right"><%= @job.salary %></span>
        </p>

        <p>
          <b>Empresa:</b>
          <span class="right"><%= @job.company.name %></span>
        </p>

        <p>
          <b>Cidade:</b>
          <span class="right"><%= @job.location %></span>
        </p>
      </article>
      <aside class="span3">
        <%= ejob_applied?(@job.id) %> <br>
        <%= link_to "Ver vagas relacionadas", "#", :class => "btn btn-block" %>
      </aside>
    </div>
    <%= link_to 'Back', jobs_path %>
  </div>
</div>
