<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span12">
    <div class="demo-browser">
      <div class="demo-browser-side">
        <div class="demo-browser-author">
          <%= image_tag avatar_url(@user, 200) %>
        </div>
        <h5><%= @user.name %></h5>
        <h6>
          <%= @user.email %>
          <%= @user.location %>
        </h6>
        <div class="demo-browser-action">
          <%= btn_criar_editar_curriculo @user.resume %>
          <%= btn_editar_perfil @user %>
        </div>
      </div>
      <div class="demo-browser-content">
        <h4>Editar Perfil</h4>
        <%= form_for @user do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :location %>
          <%= f.text_field :location %>
        </div>
        <div class="field">
          <%= f.label :bio %>
          <%= f.text_area :bio, :class => "textarea" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="actions">
          <%= f.submit "Salvar", :class => "btn btn-warning btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>