<p id="notice"><%= notice %></p>
<p>
  <b>photo:</b>
  <%= image_tag avatar_url(@user, 200) %>
</p>
<p>
  <b>email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
