<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span12">
    <div class="demo-browser">
      <div class="demo-browser-side">
        <div class="demo-browser-author">
          <%= image_tag avatar_url(@user, 200) %>
        </div>
        <h5><%= @user.name %></h5>
        <h6>
          <%= @user.email %>
          <%= @user.location %>
        </h6>
        <div class="demo-browser-action">
          <%= btn_criar_editar_curriculo @user.resume %>
          <%= btn_editar_perfil @user %>
        </div>
      </div>
      <div class="demo-browser-content">
        <h4>Vagas Cadastradas</h4>
        <section class="span8">
          <% @vagas_aplicadas.each do |vaga_aplicada| %>
            <% trampo_aplicado = Job.find(vaga_aplicada.job_id) %>
            <div style="min-height:80px;" class="span2 palette palette-midnight-blue">
              <header style="border-bottom:1px dashed grey">
                <%= trampo_aplicado.title %>
              </header>
              <article>
                <%= trampo_aplicado.description %>
              </article>
              <div>
                <%= trampo_aplicado.location %>
              </div>
              <div>
                <%= trampo_aplicado.company.name %>
              </div>
            </div>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>