<div class="row">
  <div class="span12">
    <div class="demo-browser">
      <div class="demo-browser-side">
        <div class="demo-browser-author">
          <%= image_tag(@company.picture_url, :width => 84) if @company.picture.present? %>
        </div>
        <div class="demo-browser-action">
          <a class="btn btn-danger btn-large btn-block" href="<%= new_job_path %>" target="_blank">
            Nova Vaga
          </a>
        </div>
        <h5><%= @company.name %></h5>
        <h6>
          <%= @company.location %>
          <a href="http://shmidt.in" target="_blank">shmidt.in</a>
        </h6>
      </div>
      <div class="demo-browser-content">
        <h4>Vagas Cadastradas</h4>
        <% @jobs.each do |job| %>
          <%= link_to job do %>
            <div class="span2">
              <%= job.title %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>