<div class="container">
  <div class="logo-container">
    <h1 style="margin-bottom: 0;line-height: 57px!important;font-size:50px!important;" class="left demo-logo">
      <div style="background-size: 50px 50px!important;height: 50px!important;margin-top: 0px!important;width: 50px!important;" class="logo"></div>
      canteir.us
    </h1>
  </div> <!-- /demo-headline -->
  <section class="content">
    <h1>Bem vindo ao Canteir.us</h1>
      <div style="width: 45%;float: left;" class="login-form">
        <header>
          <h2>Login</h2>
        </header>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="control-group">
            <%= f.email_field :email, :autofocus => true, :class => "login-field", :style=>"width: 410px;",:placeholder => "E-Mail"  %>
            <%= f.label :email,"", :class => "login-field-icon fui-user" %>
          </div>

          <div class="control-group">
            <%= f.password_field :password, :class => "login-field", :style=>"width: 410px;",:placeholder => "Senha"  %>
            <%= f.label :password,"", :class => "login-field-icon fui-lock" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div>
              <%= f.check_box :remember_me, :style=>"float: left;margin-right: 8px;" %> <%= f.label :remember_me %>
            </div>
          <% end -%>
          <div>
            <%= f.submit "Login",:class => "btn btn-primary btn-large btn-block" %>
          </div>
        <% end %>
      </div>
        <div style="width: 43%;float: left;margin-left: 15px;" class="login-form">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <header>
          <h2>Cadastre-se</h2>
        </header>
        <div class="control-group">
          <%= f.text_field :name, :autofocus => true, :class => "login-field", :style=>"width: 400px;",:placeholder => "Nome" %>
          <%= f.label :name,"", :class => "login-field-icon fui-user" %>
        </div>
        <div class="control-group">
          <%= f.email_field :email, :autofocus => true, :class => "login-field", :style=>"width: 400px;",:placeholder => "E-Mail" %>
          <%= f.label :email,"", :class => "login-field-icon fui-user" %>
        </div>

        <div class="control-group">
          <%= f.password_field :password, :class => "login-field", :style=>"width: 400px;",:placeholder => "Senha" %>
          <%= f.label :password,"", :class => "login-field-icon fui-lock"  %>
        </div>

        <div class="control-group">
          <%= f.password_field :password_confirmation, :class => "login-field", :style=>"width: 400px;",:placeholder => "Confirme a senha"  %>
          <%= f.label :password_confirmation,"", :class => "login-field-icon fui-lock"  %>
        </div>

        <div><%= f.submit "Cadastrar",:class => "btn btn-primary btn-large btn-block" %></div>
      <% end %>
    </div>
      </div>
    </div>
  </section>
</div>