<div class="login">
  <div class="login-screen">
    <div class="login-icon">
      <img src="/assets/icons/Clipboard@2x.png" alt="Welcome to Mail App" />
      <h4>Seu nome<small>na lista!</small></h4>
    </div>
    <%= form_for(@subscribe) do |f| %>
      <% if @subscribe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@subscribe.errors.count, "error") %> prohibited this subscribe from being saved:</h2>

          <ul>
          <% @subscribe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="login-form">
        <div class="control-group">
          <%= f.text_field :name, :class => "login-field" %>
          <%= f.label :name, :class => "login-field-icon fui-user" %>
        </div>
        <div class="control-group">
          <%= f.text_field :email, :class => "login-field" %>
          <%= f.label :email, :class => "login-field-icon fui-mail" %>
        </div>
        <div class="actions">
          <%= f.submit "Assinar!", :class => "btn btn-primary btn-large btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
