<br>
<br>
<br>
<%= form_for(@resume) do |f| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <header>
    <h3>Dados Pessoais</h3>
  </header>
  <div class="field span10">
    <%= f.label :name, "Nome Completo:" %>
    <%= f.text_field :name %>
  </div>
  <div class="field span10">
    <%= f.label :dob, "Data de Nascimento:" %>
    <%= f.text_field :dob %>
  </div>
  <div class="field span3">
    <%= f.label :gender, "Sexo: " %>
    <%= f.select :gender, ["Masculino", "Feminino"] %>
  </div>
  <div class="field span3">
    <%= f.label :civil, "Estado Civil:" %>
    <%= f.select :civil, ["Solteiro(a)", "Casado(a)", "Separado(a)", "Divorciado(a)", "Viúvo(a)", "Outro"] %>
  </div>
  <div class="field span3">
    <%= f.label :children, "Possiu Filhos:" %>
    <%= f.select :children, ["Sim", "Não"] %>
  </div>
  <br>
  <header class="span12">
    <h3>Apresentação Profissional</h3>
  </header>
  <div class="field span10">
    <%= f.label :professional_objctive %>
    <%= f.text_field :professional_objctive %>
  </div>
  <div class="field span10">
    <%= f.label :job_area %>
    <%= f.text_field :job_area %>
  </div>
  <div class="field span10">
    <%= f.label :mini_resume %>
    <%= f.text_field :mini_resume %>
  </div>
  <div class="actions span10">
    <%= f.submit "Salvar", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>