<br>
<br>
<br>
<%= form_for(@resume) do |f| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <header>
    <h3>Dados Pessoais</h3>
  </header>
  <div class="field span10">
    <%= f.label :name, "Nome Completo:" %>
    <%= f.text_field :name %>
  </div>
  <div class="field span10">
    <%= f.label :dob, "Data de Nascimento:" %>
    <%= f.text_field :dob %>
  </div>
  <div class="field span3">
    <%= f.label :gender, "Sexo: " %>
    <%= f.select :gender, ["Masculino", "Feminino"] %>
  </div>
  <div class="field span3">
    <%= f.label :civil, "Estado Civil:" %>
    <%= f.select :civil, ["Solteiro(a)", "Casado(a)", "Separado(a)", "Divorciado(a)", "Viúvo(a)", "Outro"] %>
  </div>
  <div class="field span3">
    <%= f.label :children, "Possiu Filhos:" %>
    <%= f.select :children, ["Sim", "Não"] %>
  </div>
  <div class="field span10">
    <%= f.label :cpf, "CPF:" %>
    <small>Este campo não será exibido para as empresas.sEle será utilizado somente para controle interno.</small>
    <%= f.text_field :cpf %>
  </div>
  <div class="field span10">
    <%= f.label :country, "País:" %>
    <%= f.text_field :country %>
  </div>
  <div class="field span10">
    <%= f.label :state, "Estado:" %>
    <%= f.text_field :state %>
  </div>
  <div class="field span10">
    <%= f.label :city, "Cidade:" %>
    <%= f.text_field :city %>
  </div>
  <div class="field span10">
    <%= f.label :district, "Bairro:" %>
    <%= f.text_field :district %>
  </div>
  <div class="field span7">
    <%= f.label :address, "Endereço Completo:" %>
    <%= f.text_field :address %>
  </div>
  <div class="field span3">
    <%= f.label :complement, "Complemento:" %>
    <%= f.text_field :complement %>
  </div>
  <div class="field span10">
    <%= f.label :postal_code, "CEP:" %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field span6">
    <%= f.label :tel_residence, "Telefone Residencial:" %>
    <%= f.text_field :tel_residence %>
  </div>
  <div class="field span4">
    <%= f.label :scraps, "Recado:" %>
    <%= f.text_field :scraps %>
  </div>
  <div class="field span5">
    <%= f.label :tel_celular, "Telefone Celular" %>
    <%= f.text_field :tel_celular %>
  </div>
  <div class="field span5">
    <%= f.label :tel_commercial, "Telefone Comercial" %>
    <%= f.text_field :tel_commercial %>
  </div>
  <div style="display:none" class="field span10">
    <%= f.label :fax, "Fax" %>
    <%= f.text_field :fax %>
  </div>
  <div class="field span10">
    <%= f.label :deficience, "Possui deficiencia?" %>
    <%= f.select :deficience, {"Sim" => true, "Não" => false} %>
  </div>
  <br>
  <header class="span12">
    <h3>Apresentação Profissional</h3>
  </header>
  <div class="field span10">
    <%= f.label :professional_objctive %>
    <%= f.text_field :professional_objctive %>
  </div>
  <div class="field span10">
    <%= f.label :job_area %>
    <%= f.text_field :job_area %>
  </div>
  <div class="field span10">
    <%= f.label :mini_resume %>
    <%= f.text_field :mini_resume %>
  </div>
  <div class="span10">
    <div class="academics">
      <%= link_to_add_fields "Adicionar Formação Academica", f, :academics %>
    </div>
  </div>
  <div class="actions span10">
    <%= f.submit "Salvar", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>