<div class="span12">
  <%= link_to "Imprimir", "/", :class=>"btn btn-primary" %>
  <%= link_to "Enviar por e-mail", "", :class=>"btn btn-primary" %>
</div>
<br>
<br>
<br>
<div class="span3">
  <span><strong>Endereço:</strong>
    <%= @resume.address %>&nbsp;<%= @resume.complement %> <br>
    <%= @resume.district %> <br>
    <%= @resume.postal_code %> <br>
    <%= @resume.city %>/<%= @resume.state %>
  </span>
</div>
<div class="span3">
  <span><strong>Email:</strong>
    <%= @resume.user.email %> <br>
    <strong>Tel.:</strong>
    <%= @resume.tel_residence %> <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @resume.tel_commercial %> <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @resume.tel_celular %>
  </span>
</div>
<div class="span12 row">
  <h1>
    <%= @resume.name %>
  </h1>
</div>
<div class="span12 row">
  <span style="margin-right:25px;">
    <strong>Data de Nascimento: </strong>
    <%= @resume.dob %>
  </span>

  <span style="margin-right:25px;">
    <strong>Sexo: </strong>
    <%= @resume.gender %>
  </span>

  <span style="margin-right:25px;">
    <strong>Estado Civil: </strong>
    <%= @resume.civil %>
  </span>

  <span>
    <strong>Possui Filhos: </strong>
    <%= @resume.children %>
  </span>
  <hr />
</div>
<div class="span12 row">
  <p>
    <b>Professional objctive:</b>
    <%= @resume.professional_objctive %>
  </p>

  <p>
    <b>Job area:</b>
    <%= @resume.job_area %>
  </p>

  <p>
    <b>Mini resume:</b>
    <%= @resume.mini_resume %>
  </p>
</div>
<div class="span12">
  <%= link_to 'Edit', edit_resume_path(@resume) %> |
  <%= link_to 'Back', resumes_path %>
</div>
