<div class="span3" style="float:right;margin-right:-30px;">
  <% if user_signed_in? %>
    <select name="herolist" value="<%= current_user.email %>" class="select-block span3" onchange="location = this.options[this.selectedIndex].value;">
      <option value="0" selected="selected"><%= current_user.email %></option>
      <option value="<%= user_path(current_user.id) %>"><%= link_to "Perfil", user_path(current_user.id) %></option>
      <option value="2">Minhas Vagas</option>
      <option value="<%= "/users/#{current_user.id}/resumes/#{current_user.resume.id}"%>">Curriculo</option>
      <option value="<%= "/users/#{current_user.id}/edit"%>">Configurações</option>
      <option value="5"><%= link_to "Sair", destroy_user_session_path, :method => :delete %></option>
    </select>
  <% else %>
    <select name="herolist" value="Cadastre-se" class="select-block span3" onchange="location = this.options[this.selectedIndex].value;">
      <option value="<%=new_user_session_path%>" selected="selected"><%= link_to "Cadastre-se", new_user_registration_path %></option>
      <option value="<%=new_user_session_path%>"><%= link_to "Login", new_user_session_path %></option>
    </select>
  <% end %>
</div>