<div class="span3" style="float:right;margin-right:-30px;">
  <% if user_signed_in? %>
    <select name="herolist" value="<%= current_user.email %>" class="select-block span3" onchange="location = this.options[this.selectedIndex].value;">
      <option value="/" selected="selected"><%= current_user.email %></option>
      <option value="<%= user_path(current_user.id) %>"><%= link_to "Perfil", user_path(current_user.id) %></option>
      <option value="2">Minhas Vagas</option>
      <option value="<%= link_to_resume(current_user.resume) %>">Curriculo</option>
      <option value="<%= "/users/#{current_user.id}/edit"%>">Configurações</option>
      <option value="<%= destroy_user_session_path %>">Sair</option>
    </select>
  <% else %>
    <select name="herolist" value="Cadastre-se" class="select-block span3" onchange="location = this.options[this.selectedIndex].value;">
      <option value="<%= new_user_registration_path %>" selected="selected">Cadastre-se</option>
      <option value="<%= new_user_session_path %>">Login</option>
    </select>
  <% end %>
</div>