<!DOCTYPE html>
<html>
<head>
  <title>Canteiro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header-login">
    <% if user_signed_in? %>
      <%= render 'layouts/menu_user' %>
    <% else %>
      <%= render 'layouts/menu_company' %>
    <% end %>
  </div>
  <div class="logo-container">
    <h1 class="left demo-logo">
      <div class="logo"></div>
      canteir.us
    </h1>
    <ul class="left top-menu">
      <li><%= link_to 'Vagas', jobs_path %></li>
      <li><%= link_to 'Curriculo', '#' %></li>
      <li><%= link_to 'Empresas', companies_path %></li>
    </ul>
  </div> <!-- /demo-headline -->

  <%= yield %>

</div> <!-- /container -->



<%= render 'layouts/footer' %>
<!-- Load JS here for greater good =============================-->
    <script src="/assets/jquery-1.8.3.min.js"></script>
    <script src="/assets/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/assets/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/bootstrap-select.js"></script>
    <script src="/assets/bootstrap-switch.js"></script>
    <script src="/assets/flatui-checkbox.js"></script>
    <script src="/assets/flatui-radio.js"></script>
    <script src="/assets/jquery.tagsinput.js"></script>
    <script src="/assets/jquery.placeholder.js"></script>
    <script src="/assets/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="/assets/z_application_c.js"></script>
</body>
</html>
